################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio temporary files
.vs/
bin/
obj/
*.user
*.suo
*.db
